<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Weather</title>
  
  <!-- Jquery -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  
  <!-- Semantic ui-->
  <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
  <script src="/semantic/dist/semantic.min.js"></script>

  <!-- My styles -->
  <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/style.css"/>
</head>
<body>
    <h1>Fill in the blanks to get the current climate</h1>
    <div class="ui grid">
      <div class="four wide column">
        <div class="ui vertical fluid tabular menu">
          <a class="item active" type_input="text">City name</a>
          <a class="item" type_input="number">City id</a>
          <a class="item" type_input="number">Geographic coordinates</a>
          <a class="item">ZIP code</a>
        </div>
      </div>
      <div class="twelve wide stretched column">
        <h4 class="title"></h4>
        <div class="ui segment">
            <form class="ui form">
              <div class="field">
                <label class="input-label"></label>
                <input class="input" type="text" name="" placeholder="">
              </div>
              <button class="ui inverted blue button" type="submit">Submit</button>
            </form>
        </div>
      </div>
    </div>
</body>

  <!-- My script -->
<script src="/javascripts/script.js"></script>
</html>
